.general{
    width: 1500px;
    height: 600px;
    background-color: rgb(80, 51, 31);
}

.head{
    border-bottom: 1px solid rgb(235, 196, 26);
    text-align: center;
}
.foto{
    margin: 50px;
    float: left;
}

.info{
    width: 1500px;
    height: 300px;
}
.fio{
    text-align: center;
}

.myinfo{
    float: left;
    margin-left: 30px;
}

.offers{
    float: left;
    width: 500px;
    margin-left: 30px;
}

.tablLink{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 10px;
}