table, td{
    border: 3px solid rgb(55, 199, 18);
}

img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.oneImg{
    transform: rotate(180deg);
    filter: sepia(50%);
}

.two{
    vertical-align: middle;
}

.trOne{
    background-color: aqua;
}

.trTwo{
    background-color: bisque;
}

.trThree{
    background-color: blueviolet;
}